*.py[cod]
dist
build
MANIFEST
__pycache__
*.egg-info

docs/_build

version.py

.project
.pydevproject
.idea/.name
.idea/Outliers-GUI.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
